button {
  background: #000000;
  border-radius: 50px;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 7px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
