.chatBtn {
  position: relative;
}

.chatSettings {
  display: none;
  position: absolute;
  background: #bdbdbd;
  right: 0;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}

.show {
  display: block;
}

.settingsItem {
  cursor: pointer;
  margin-bottom: 5px;
}
