nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    li {
      list-style: none;
      width: max-content;

      a {
        color: #000000;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}